<div class="container ">
    <div class="col-md-6 mx-auto py-5 mt-5">
        <div class="card my-5 ">
            <div class="card-header">
                <h4> Add new Publication </h4> 
            </div>
            <div class="form-group">
                    <input type="text" required placeholder="Title"
                    class="form-control"
                    >
            </div>
            <div class="form-group">
              <input type="text" placeholder="Authors"
                   class="form-control"
              >
            </div>
            <div class="form-group">
                <input type="text" placeholder="Date"
                     class="form-control"
                >
              </div>
              <div class="form-group">
                <input type="text" placeholder="Index type"
                     class="form-control"
                >
              </div>
              <div class="form-group">
                <input type="text" placeholder="Journal name"
                     class="form-control"
                >
              </div>
            <div class="form-group">
              <button class="btn btn-primary">
                   Add
              </button>
          </div>

        </div>
     </div>
</div>

