<div class="container ">
    <div class="col-md-6 mx-auto py-5 mt-5">
        <div class="card my-5 ">
            <div class="card-header">
                <h4> Add new PHD student </h4> 
            </div>
            <div class="form-group">
                    <input type="text" required placeholder="First name"
                    class="form-control"
                    >
            </div>
            <div class="form-group">
              <input type="text" placeholder="Last name"
                   class="form-control"
              >
            </div>
            <div class="form-group">
                <input type="text" placeholder="Thesis title"
                     class="form-control"
                >
              </div>
              <div class="form-group">
                <input type="text" placeholder="Thesis director"
                     class="form-control"
                >
              </div>
              <div class="form-group">
                <input type="text" placeholder="Co-director"
                     class="form-control"
                >
              </div>
              <div class="form-group">
                <input type="text" placeholder="Joint supervision of the thesis"
                     class="form-control"
                >
              </div>
              <div class="form-group">
                <input type="text" placeholder="CIN"
                     class="form-control"
                >
              </div>
              <div class="form-group">
                <input type="text" placeholder="Year of registration"
                     class="form-control"
                >
              </div>
              <div class="form-group">
                <input type="text" placeholder="Grade"
                     class="form-control"
                >
              </div>
            <div class="form-group">
              <button class="btn btn-primary">
                   Add
              </button>
          </div>

        </div>
     </div>
</div>

