<br><br>
<div class="container px-4 px-lg-5">
  <!-- Heading Row-->
  <div class="row gx-4 gx-lg-5 align-items-center my-5">
      <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" [src]="home" alt="..." /></div>
      <div class="col-lg-5">
          <h1 class="font-weight-light">Scientific Research</h1>
          <p>Scientific research is a systematic way of gathering data and harnessing curiosity. This research provides scientific information and theories for the explanation of the nature and the properties of the world. It makes practical applications possible. Scientific research is funded by public authorities, by charitable organizations and by private groups, including many companies. Scientific research can be subdivided into different classifications according to their academic and application disciplines. Scientific research is a widely used criterion for judging the standing of an academic institution, but some argue that such is an inaccurate assessment of the institution, because the quality of research does not tell about the quality of teaching (these do not necessarily correlate</p>
          <a href="/register" class="btn btn-primary" routerLink="register">Sing up</a>
      </div>
  </div>
  <!-- Call to Action-->
  <div class="card text-white bg-secondary my-5 py-4 text-center">
      <div class="card-body"><p class="text-white m-0">The important thing in science is not so much to obtain new facts as to discover new ways of thinking about them
</p></div>
  </div>
  <!-- Content Row-->
  <div class="container"><h1 class="text-center"> Articles</h1></div>
  
  <div class="row gx-4 gx-lg-5">
      <div class="col-md-4 mb-5">
          <div class="card h-100">
              <div class="card-body">
                  <h2 class="card-title">VPN network</h2>
                  <p class="card-text">
                    Title: VPN Implementation <br>
                    Authors: EZRAIDI <br>
                    This an article about VPN netmork Click button below to get more info

                  </p>
              </div>
              <div class="card-footer">
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
              </div>
          </div>
      </div>
      <div class="col-md-4 mb-5">
          <div class="card h-100">
              <div class="card-body">
                  <h2 class="card-title">Artificial Intelligence</h2>
                  <p class="card-text">
                     Title: Artificial Intelligence <br>
                     Authors: BADDI <br>
                     This an article about Artificial Intelligence click button below to get more info
                       
                    </p>
              </div>
              <div class="card-footer">
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
              </div>
          </div>
      </div>
      <div class="col-md-4 mb-5">
          <div class="card h-100">
              <div class="card-body">
                  <h2 class="card-title">RADIUS Server</h2>
                  <p class="card-text">
                      Title: RADIUS Server <br>
                      Authors : LFRAYHI <br>
                      this is an article about RADIUS Server click button below to get more info
                  </p>
                  
              </div>
              <div class="card-footer"><div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div></div>
          </div>
      </div>
  </div>
  <div class="">
    <router-outlet></router-outlet>
  </div>
</div>